body {
  background-color: rgb(53, 53, 53);
  background-image: url(./assets/backgr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  width: 600px;
  margin: 200px auto;
}

.countContainer {
  width: 600px;
  height: 400px;
  border: rgb(0, 238, 255) 4px solid;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.192);
}

.display {
  width: 550px;
  height: 100px;
  border: rgb(0, 238, 255) 2px solid;
  border-radius: 10px;
  margin: 20px auto;
  background-color: rgb(143, 255, 255);
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: initial;
  color: blue;
  padding-top: 80px;
  padding-bottom: 40px;
  cursor: default;
}

.btn {
  cursor: pointer;
  width: 25%;
  height: 50px;
  background-color: rgb(74, 198, 255);
  border: rgb(0, 238, 255) 2px solid;
  outline: none;
  border-radius: 5px;
  margin: 20px;
}

.btn a {
  text-decoration: none;
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0);
}

.btn:hover {
  border: rgb(42, 177, 255) 2px solid;
  box-shadow: 0px 0px 20px rgb(0, 178, 190);
}

.btn:active {
  border: rgb(0, 174, 255) 2px solid;
}

.limit {
  color: red;
  font-weight: 600;
  font-size: 70px;
}

.disable {
  opacity: 0.2;
}

.disable:hover {
  border: rgb(0, 238, 255) 2px solid;
}

.controlContainer {
  border: rgb(0, 238, 255) 2px solid;
  margin: 0 25px;
  border-radius: 25px;
}

.setDisplay {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  height: 130px;
  border: rgb(0, 238, 255) 2px solid;
  border-radius: 5px;
  margin: 20px auto;
  padding-top: 50px;
  padding-bottom: 40px;
}

.span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  width: 90%;
  height: 60px;
  border: white 2px solid;
  color: aquamarine;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  cursor: default;
}

.input {
  width: 40%;
  height: 70%;
  margin: 5px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  background-color: rgb(206, 249, 255);
  border-radius: 10px;
  outline: none;
}

.input::-webkit-inner-spin-button {
  opacity: 1;}